@import '../UI/general.module.scss';

.navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  right: -20%;
  color: $white;
  z-index: 1;
  border: 2px solid $white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  transition: all 0.4s ease;
  @include mq('to', 576) {
    padding: 10px;
  }

  &__nav-link {
    font-size: 40px;
    border-radius: 50px;
    color: $white;
    transition: all 0.3s ease;
    @include mq('to', 576) {
      font-size: 28px;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

.navigation-open {
  @extend .navigation;
  right: 5%;
}
