//Colors
$white: white;
$fbColor: #3b5998;
$instaColor: #e1306c;
$linkedInColor: #0e76a8;

$disabledColor: rgb(196, 187, 187);

$notDisabledBtnColor: rgb(91, 158, 91);
$errorColor: rgb(150, 43, 43);

// $primary: #d4b996ff;
$primary: #b1a296;

//***********************
//***********************
//***********************
//*MIXINS
@mixin mq($type, $rezMin) {
  @media only screen and (max-width: #{$rezMin - 1}px) {
    @content;
  }
}

//*Container

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 5% 50px 5%;

  @include mq('to', 576) {
    padding: 90px 5% 50px 5%;
  }
}

//***********************
//***********************
//***********************
//*STYLES
//Button style
.btn {
  display: block;
  width: fit-content;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  border: 2px solid $white;
  color: $white;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.4s;
  letter-spacing: 1px;
  cursor: pointer;

  @include mq('to', 767) {
    font-size: 16px;
    padding: 10px 35px;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: $primary;
    z-index: -1;
    transition: all 0.35s;
  }

  &::before {
    opacity: 0.5;
  }

  &:after {
    transition-delay: 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      color: $white;
    }

    &:hover {

      &::before,
      &::after {
        top: 0;
      }
    }
  }

  &:disabled {
    background-color: black;
    color: $disabledColor;
    border-color: $disabledColor;
    cursor: not-allowed;
  }
}

.active {
  color: $primary  !important;
  transform: scale(1.2);
}